body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

form, table, h1, a {
    text-align: center;
}

.success {
    color: green;
}

.danger {
    color: red;
}
.icon-200 {
      width: 200px !important;
      height: 200px !important;
      object-fit: contain;   /* or "cover" if you prefer a cropped fill */
      display: inline-block;
      vertical-align: middle;
    }